---
import { Icon } from "astro-icon/components";

interface Props {
	linkWhatsapp: string;
}

const { linkWhatsapp } = Astro.props;
---

<a
	class="whatsapp-float"
	id="whatsappButton"
	href={linkWhatsapp}
	target="_blank"
	rel="noopener noreferrer"
	aria-label="Falar no WhatsApp"
>
	<Icon name="mdi:whatsapp" size="28" />
</a>
